.bg-image {
  position: fixed;
  z-index: -1;
  left: -250px;
  top: 10px;
  width: 400px;
  height: 500px;
  background: left / cover no-repeat url('../../ui/images/earth-planet.png');
  background-position: -25% 0;
}

@media (max-width: 768px) {
  .bg-image {
    left: -300px;
  }
}

@media (max-width: 550px) {
  .bg-image {
    left: -350px;
  }
}

@media (max-width: 425px) {
  .bg-image {
    left: -365px;
  }
}